/* .courseitem1 h2 {
  text-align: center;
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Noto Sans TC", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* .all {
  width: 1000px;
  height: 1770px;
  background-color: rgb(161, 49, 49);
  margin-left: auto;
  margin-right: auto;
} */

/* .header h1 {
  float: left;
} */

* {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  /* font-family: "Noto Sans TC", sans-serif; */
}





.all {
  width: 1000px;
  height: 1770px;
  border: 1px gray solid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.top {
  background-color: #f6f6f6;
  width: 1000px;
  float: right;
}

.menu {
  float: right;
}

.menu a {
  text-decoration: none;
}

.fb {
  color: #4460a0;
  line-height: 1.5;
}

.twitter {
  color: #00aaec;
}

.header {
  display: flex;
}

.left {
position: relative;
top: 30px;
}

.header h1 a {
  background-image: url(./images/logo.png);
  width: 195px;
  height: 45px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
   /* border: 1px black solid; */
}





 .right{
  margin-left: 300px;
  margin-top: 15px;
  /* border: 1px black solid; */
  white-space: nowrap;
  display: flex;
  position: relative;
  top: 30px;
  left:100px ;
  z-index: 3;
}

.right a{
  align-items: center;
  text-decoration: none;
  /* background-color: #c93a7d; */
  color: #22d3a7;
  /* border-bottom: 3px #00cc99 solid; */
  /* border: 1px black solid; */
  padding: 5px 5px;
  text-align: center;
  display:block;
  margin-right: 70px;
}


.right a:hover{
  border-bottom: 3px #00cc99 solid;
}

.right ul{
  float: left;
  width: 100px;
  /* border: 3px #00cc99 solid; */

}


.right ul>li{
  border: 1px #00cc99 solid; 
 
}


.right ul{
  display: none;
} 




/* .right a:hover ul>li{
  display: block;
}   */




/* 
.right ul>li:hover li{
  display: block;
}  */


/* 
.right ul>li:hover {
  display: block;
  z-index: 5;
}   */







/* .right>li{
  float: left;
}


.right>ul{
  display: none;
} 

.right>li:hover ul{
  display: block;
}  */


/* .right li {
  height: 52px;
  text-align: center;
  border: 1px black solid;
  margin-right: 42px;
} */

.course {
  display: flex;
}
/* .banner {
  position: relative;
} */



.banner{
position: absolute;
  top: 35px;}

.bannerin {
  height: 162px;
  width: 1000px;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 120px;
}

.bannerin h1 {
  color: rgb(255, 255, 255);
  margin-left: 22px;
  margin-top: 41px;
  font-size: 35px;
}

.courseitem1,
.courseitem2,
.courseitem3 {
  height: 330px;
  width: 300px;
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-left: 1px lightgray solid;
  margin-right: 18px;
  margin-left: 15px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 1px 3px 2px lightgray;
  margin-bottom: 66px;
  line-height: 1.3;
}

/* .courseitem1,
.courseitem2,
.courseitem3 h1 {
  text-align: center;
} */

.courseitem1 h1,
.courseitem2 h1,
.courseitem3 h1 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 17px;
}

.course p {
  margin-bottom: 9px;
}

.form h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 32px;
}

.formclass {
  height: 253px;
  width: 842px;
  margin-left: 80px;
  margin-bottom: 110px;
  font-size: 16px;
  line-height: 2;
}

.formclass th,
.formclass td {
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
}

.formclass th {
  padding: 10px;
  background-color: #f7f7f7;
  font-weight: 600;
  text-align: left;
  text-indent: 11px;
}

.formclass td {
  position: relative;
  left: 20px;
}

.green {
  color: #22b28e;
}

.form2 {
  height: 406px;
  background-color: #009872;
  background-image: url(./images/使用html做網站\ \ 2.png);
  /* border: 1px black solid; */
}

.form2per {
  display: flex;
  position: relative;
  top: 50px;
}

#name,
#phone,
#mail {
  width: 462px;
  height: 34px;
  margin-right: 21px;
  font-size: 16px;
}

#submit {
  width: 72px;
  height: 34px;
  margin-top: 22px;
  margin-left: 397px;
  background-color: #00cc99;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-size: 16px;
}

.form2 {
  margin-top: 63px;
}

.form2 h1 {
  position: relative;
  top: 40px;
  /* margin-bottom: 41px; */
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.form2 textarea {
  height: 248px;
  width: 464px;
  margin-left: 20px;
  /* margin-top: 32px; */
}

.form2 form label {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

/* .form2 form {
} */

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h1 a {
  background-image: url(./images/logo.png);
  width: 195px;
  height: 45px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  filter: grayscale(100%);
}

.footer p {
  text-align: left;
}

.footerT {
  margin-top: 31px;
  margin-right: 20px;
}

.pink {
  color: #c93a7d;
}




.gotop{
  position: fixed;
  bottom: 0;
  right: 0;
}

.swiper {
  width: 1002px;
  height: 346px;
  
}